.export_builder_accordion > * {
    /* background-color: #f9f9f9; */
    padding: 12px;
}

.export_builder_accordion > button {
    /* background-color: #ffffff; */
    padding: 0px;
}

.accordion_end_padding {
    background-color: #a6a6a6;
    font-size: 0px;
}

.export_query > * {
    border: 1px solid black;
    color: #444444;
    background-color: white;
}